<%- include('partials/header.ejs') %>

<section>
    <div class="container text-center">
        <h1 class="my-5"><b>Hello. I am Govardhan Annabathula</b></h1>
        <img src="Images/my-photo.jpg" alt="profile photo" class="profilePhoto mb-5 mx-auto d-block">
        <p class="lead mb-4 "><b>
            Welcome to my blog! I'm a passionate web developer on a journey to showcase my skills in crafting dynamic
            and responsive websites using technologies like Node.js, Express, EJS, and more. Here, you'll find a blend of
            informative posts, coding tutorials, and project showcases, offering insights into the world of web development. My goal
            is to inspire fellow developers and enthusiasts while honing my craft and exploring the endless possibilities of the
            digital realm. When I'm not coding, you can find me diving into the latest tech trends, experimenting with new
            frameworks, or simply enjoying the outdoors. Thank you for joining me on this coding adventure!
        </b></p>
    </div>
</section>

<section class="gap">
    
</section>

<%- include('partials/footer.ejs') %>