.headName{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.profilePhoto{
    border-radius: 50%;
    height: 200px;
}

.interactions{
    display: flex;
    justify-content: space-evenly;
}

.pbox {
    border: black dashed;
    transition: all 0.3s ease-in;
}

.pbox:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0, 133, 242, 0.6);
    border-color: #008cff;
    border: dashed;
}

.gap{
    margin-bottom: 3.7rem;
}

.newpost{
    border: 0.05px solid #dee2e6;
    padding: 20px;
}